XpV0(
    project: "enn",
    containers: {
        "main": (
            command: [],
            build: [
                From("nvcr.io/nvidia/pytorch:21.03-py3"),

                // Install Poetry
                Run("curl -sSL https://install.python-poetry.org | python -"),
                Env("PATH", "${PATH}:/root/.local/bin"),

                // Install CleanRL
                Repo(
                    url: "https://github.com/vwxyzjn/cleanrl",
                    rev: "42d21bd",
                    cd: true,
                ),
                Run("poetry install --with procgen"),
                Run("poetry run pip install torch==1.12.1+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html"),
            ],
            gpu: 1,
            gpu_mem: "10GiB",
            cpu_mem: "10GiB",
            env_secrets: {
                "WANDB_API_KEY": "wandb-api-key",
            },
        )
    }
)
